<form id="form-wrapper">
  <input type="text" id="search" placeholder="Search for..." required="" />
  <input type="submit" value="Search" id="submit" />
</form>

<section id="main">
  <div>
    <img
      src="http://books.google.com/books/content?id=SZtsFe66zucC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
    /><img />
    <h2>Google Apps: The Missing Manual</h2>
    <h3><strong>Authors</strong>: Nancy Conner</h3>
    <span><strong>Publisher</strong>: "O'Reilly Media, Inc."</span
    ><span><strong>Date</strong>: 2008-05-27</span
    ><span><strong>Category</strong>: Computers</span
    ><span class="description-span"
      ><strong>Description</strong>: Among its many amazing applications, Google
      now has web-based alternatives to many of the applications in Microsoft
      Office. This comprehensi...<button>See more</button></span
    ><button id="fav-btn">Add to Favourites</button>
  </div>
  <div>
    <img
      src="http://books.google.com/books/content?id=qbykAwAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
    /><img />
    <h2>My Google Apps</h2>
    <h3>
      <strong>Authors</strong>: Patrice-Anne Rutledge,Sherry Kinkoph Gunter
    </h3>
    <span><strong>Publisher</strong>: Que Publishing</span
    ><span><strong>Date</strong>: 2014-05-26</span
    ><span><strong>Category</strong>: Computers</span
    ><span class="description-span"
      ><strong>Description</strong>: Full-color, step-by-step tasks walk you
      through doing exactly what you want with Google Apps. Learn how to: Use
      Google Apps to reduce techno...<button>See more</button></span
    ><button id="fav-btn">Add to Favourites</button>
  </div>
  <div>
    <img
      src="http://books.google.com/books/content?id=fJztwAEACAAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;source=gbs_api"
    /><img />
    <h2>Advanced Google AdWords</h2>
    <h3><strong>Authors</strong>: Brad Geddes</h3>
    <span><strong>Publisher</strong>: Sybex</span
    ><span><strong>Date</strong>: 2012-04-24</span
    ><span><strong>Category</strong>: Computers</span
    ><span class="description-span"
      ><strong>Description</strong>: Master every aspect of the powerful Google
      AdWords platform with this one-of-a-kind guide AdWords expert Brad Geddes,
      the first and only Adv...<button>See more</button></span
    ><button id="fav-btn">Add to Favourites</button>
  </div>
  <div>
    <img
      src="http://books.google.com/books/content?id=etFX6ZHHsTcC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
    /><img />
    <h2>Building Web Apps for Google TV</h2>
    <h3>
      <strong>Authors</strong>: Andres Ferrate,Amanda Surya,Daniels Lee,Maile
      Ohye,Paul Carff
    </h3>
    <span><strong>Publisher</strong>: "O'Reilly Media, Inc."</span
    ><span><strong>Date</strong>: 2011-06-23</span
    ><span><strong>Category</strong>: Computers</span
    ><span class="description-span"
      ><strong>Description</strong>: By integrating the Web with traditional TV,
      Google TV offers developers an important new channel for content. But
      creating apps for Google T...<button>See more</button></span
    ><button id="fav-btn">Add to Favourites</button>
  </div>
  <div>
    <img
      src="http://books.google.com/books/content?id=4fpRDQAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
    /><img />
    <h2>Google It</h2>
    <h3><strong>Authors</strong>: Newton Lee</h3>
    <span><strong>Publisher</strong>: Springer</span
    ><span><strong>Date</strong>: 2016-10-23</span
    ><span><strong>Category</strong>: Computers</span
    ><span class="description-span"
      ><strong>Description</strong>: From Google search to self-driving cars to
      human longevity, is Alphabet creating a neoteric Garden of Eden or
      Bentham’s Panopticon? Will Kin...<button>See more</button></span
    ><button id="fav-btn">Add to Favourites</button>
  </div>
  <div>
    <img
      src="http://books.google.com/books/content?id=oF5PPfe-DEEC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
    /><img />
    <h2>Google Analytics 2.0</h2>
    <h3><strong>Authors</strong>: Jerri L. Ledford,Mary E. Tyler</h3>
    <span><strong>Publisher</strong>: John Wiley &amp; Sons</span
    ><span><strong>Date</strong>: 2009-06-17</span
    ><span><strong>Category</strong>: Computers</span
    ><span class="description-span"
      ><strong>Description</strong>: Site statistics give you raw numbers, but
      Web analytics crunch those numbers into meaningful metrics you can
      actually use. Here’s what's new...<button>See more</button></span
    ><button id="fav-btn">Add to Favourites</button>
  </div>
  <div>
    <img
      src="http://books.google.com/books/content?id=a20OYx_XnloC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
    /><img />
    <h2>
      Getting Productive With Google Apps: Increase productivity while cutting
      costs
    </h2>
    <h3><strong>Authors</strong>: James Beswick</h3>
    <span><strong>Publisher</strong>: James Beswick</span
    ><span><strong>Date</strong>: 2009-02-05</span
    ><span><strong>Category</strong>: Computers</span
    ><span class="description-span"
      ><strong>Description</strong>: Google Apps is a next-generation software
      suite that can help make your organization more productive while cutting
      traditional I.T. costs. C...<button>See more</button></span
    ><button id="fav-btn">Add to Favourites</button>
  </div>
  <div>
    <img
      src="http://books.google.com/books/content?id=DnIxCwAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
    /><img />
    <h2>The Ugly Truth About Google Adwords</h2>
    <h3><strong>Authors</strong>: Thomas Schwartz</h3>
    <span><strong>Publisher</strong>: Lulu Press, Inc</span
    ><span><strong>Date</strong>: 2015-12-05</span
    ><span><strong>Category</strong>: Computers</span
    ><span class="description-span"
      ><strong>Description</strong>: Google Adwords is one of the most promising
      advertising opportunities that abound in the Internet arena. It is a
      pay-per-click system that a...<button>See more</button></span
    ><button id="fav-btn">Add to Favourites</button>
  </div>
  <div>
    <img
      src="http://books.google.com/books/content?id=9cmZMQEACAAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;source=gbs_api"
    /><img />
    <h2>The Big Switch: Rewiring the World, from Edison to Google</h2>
    <h3><strong>Authors</strong>: Nicholas Carr</h3>
    <span><strong>Publisher</strong>: W. W. Norton</span
    ><span><strong>Date</strong>: 2013-06-10</span
    ><span><strong>Category</strong>: Computers</span
    ><span class="description-span"
      ><strong>Description</strong>: “Magisterial. . . . Draws an elegant and
      illuminating parallel between the late-19th-century electrification of
      America and today’s computin...<button>See more</button></span
    ><button id="fav-btn">Add to Favourites</button>
  </div>
  <div>
    <img
      src="http://books.google.com/books/content?id=ViRIDwAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
    /><img />
    <h2>Saint John Paul the Great</h2>
    <h3><strong>Authors</strong>: Jason Evert</h3>
    <span><strong>Publisher</strong>: Totus Tuus Press</span
    ><span><strong>Date</strong>: 2014-03-06</span
    ><span><strong>Category</strong>: Biography &amp; Autobiography</span
    ><span class="description-span"
      ><strong>Description</strong>: Although there are countless ways to study
      Saint John Paul the Great, the most direct route is by entering the man’s
      heart. Discover the fiv...<button>See more</button></span
    ><button id="fav-btn">Add to Favourites</button>
  </div>
</section>
