body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 5px;
  text-align: center;
  background: #9aa09f;
  color: white;
  font-style: oblique;
}

h2 {
  justify-content: center;
  color: #6b6d6d;
  font-style: italic;
}

.navbar {
  display: flex;
  background-color: #333;
  height: 3rem;
}

.navbar a {
  color: white;
  margin: 1rem;
  text-decoration: none;
}

.navbar a:hover {
  color: #999;
}

#form-wrapper {
  position: relative;
  background-color: #f6f6f6;
  border-color: #dedede #bababa #aaa #bababa;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 5px #444;
  margin: 30px auto;
  padding: 8px;
  width: 30rem;
  height: 3rem;
  /* margin: auto; */
}

#form-wrapper #search {
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
  border-radius: 3px;
  color: #999;
  float: left;
  height: 20px;
  padding: 10px;
  width: 350px;
}

#form-wrapper #submit {
  background-color: rgb(133, 134, 134);
  border: 1px solid #5f6161;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
  color: #fafafa;
  cursor: pointer;
  height: 42px;
  float: right;
  font: 15px Arial, Helvetica;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  width: 100px;
}

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#main button:hover {
  color: grey;
}

#main h2 {
  text-align: center;
}

#main div {
  flex: 15%;
  background-color: #e0dbdb;
  padding-left: 10px;
  border: 2px outset rgb(172, 171, 171);
  border-radius: 5px;
  min-height: 650px;
  max-height: 700px;
  margin: 10px;
  /* overflow: auto; */
  box-shadow: 5px 5px 2px #aaaaaa;
}

#fav-btn {
  margin-left: 70px;
}

#main span {
  display: block;
  margin: 5px;
  text-overflow: clip;
  text-align: center;
}

#main .description-span {
  border: 3px inset rgb(172, 171, 171);
  border-radius: 5px;
  overflow: scroll;
  height: 130px;
}

#main button {
  padding: 5px;
  border: none;
  background: none;
  font-weight: bold;
  font-size: medium;
}

#main h2 {
  text-align: center;
}
#main h3 {
  text-align: center;
}

#main img {
  margin-left: 40px;
  width: 70%;
  max-height: 250px;
}

.footer {
  margin-top: 10px;
  padding-top: 1px;
  text-align: center;
  background: #ddd;
  bottom: 0;
  width: 100%;
  height: 45px;
}
